p {
  width: 100%;
  font-size: 30px;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

body {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}
