p {
  width: 100%;
  font-size: 30px;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

body {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}

@media only screen and (width: 280px) {
  p {
    width: 100%;
    margin-right: -15px;
    padding: -25px;
  }

  body {
    display: block;
  }
}
